<!-- {% for name in nameList %}
<p> Hello, {{ name }}</p>
{% endfor %} -->

<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>This is a Name demo!</title>
</head>

<body>
    <div>
        <p>Enter a Name</p>
    </div>
</body>

<form method="post">
    Name: <input Name1="Name1"/>
    <br/><br/>
    <button type="submit">Submit</button>
</form>

<!-- <p> Hello there, {{ Sname }}!</p>  -->

{% if name %}
<div class="content">
    <p> Hello there, {{ Name1 }}!</p> 

</div>
{% endif %}

<div class="menu-link" style="text-align: center;">
    <a href= "/"> Home Page  </a>
</div>